
* {
  font-family: 'Raleway', sans-serif;
}

a {
  color: #000;
}

#page {
  margin-left: 1%;
}

#site-title > span > a{
  text-decoration: none;
  font-size: 4em;
}

#site-description {
  margin-left: 1%;
  margin-top: 5px;
}

#main {
  margin-top: 1%;
  margin-left: 1%;
  width: 95%;
}

footer {
  margin-top: 10px;
}

